:root {
  --border-color: #ddd;
  --button-search-font: #3c4043;
  --button-search-background: #f8f9fa;
  --footer-background: #f2f2f2;
  --footer-font: #70757a;
  --color-gray-400: #a9a9a9;
}

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  /* footer support */
  position: relative;
  min-height: 100%;
}

body {
  font-family: arial, sans-serif;
  line-height: 1.6;
  /* footer support */
  margin-bottom: 100px;
}

/* Navigation */

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
  margin-top: 10px;
  font-size: 13px;
  margin-right: 18px;
  margin-top: 15px;
}

.nav-link {
  padding-bottom: 10px;
  padding-top: 2px;
}

.apps-icon svg {
  color: #5f6368;
  cursor: pointer;
  fill: currentColor;
  height: 24px;
  width: 24px;
  margin-right: 5px;
}

.apps-icon {
  margin-left: 12px;
  margin-bottom: 2px;
}

.profile-icon img {
  border-radius: 50%;
}

/* Links */

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

/* Main */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 55vh;
  margin-top: 78px;
  min-height: 145px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 26px;
}

.main__form {
  width: 100%;
  padding: 0 20px;
}

.form__group {
  position: relative;
  display: flex;
  align-items: center;
  height: 44px;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  padding: 5px 8px 0 16px;
  max-width: 584px;
  margin: 0 auto;
}

.form__group:hover {
  box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
  border-color: rgba(223, 225, 229, 0);
}

.form__icon--search {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -5px;
  margin-right: 7px;
}

.form__icon--search svg {
  fill: var(--color-gray-400);
}

.form__icon--mic {
  margin-right: 7px;
}

svg {
  height: 20px;
  width: 20px;
}

input {
  border: none;
  width: 100%;
  height: 100%;
  font-size: 16px;
  margin-top: -3px;
  height: 100%;
}

input:focus {
  outline: none;
}

.search-buttons {
  gap: 12px;
  margin-top: 30px;
}

.btn-search {
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 4px;
  border: 1px solid transparent;
  background-color: var(--button-search-background);
  cursor: pointer;
}

.btn-search:hover {
  border-color: #dadce0;
  box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
}

/* Footer  */

footer {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2px;
  border: 1px solid var(--border-color);
  background: var(--footer-background);
  color: var(--footer-font);
  font-size: 14px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  min-width: 400px;
}

.left-section-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.right-section-footer {
  display: flex;
  flex-wrap: wrap;
}

footer > div > a {
  padding: 13px 15px 10px 15px;
}
